@import "settings";

.devContainer {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background: url('../assets/image/earth-3866609.jpg') no-repeat center center fixed;
  background-size: cover;

  @media (max-width: 768px) {
    height: 90vh;
  }

  .overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(#000, 0.9);
    z-index: 1;
  }

  div{
    padding: 0 60px;
    z-index: 2;
    h2 {
      font-family: 'Gugi', sans-serif;
      font-size: 3rem;
      margin-bottom: 0;
      margin-top: 4rem;
      span {
        color: $highlightColor;
      }
    }

    .content {
      display: flex;
      width: 100%;
      text-align:left;
      margin: 20px;
      scrollbar-width: none;

      div{
        padding: 1rem;
        flex: 0.5;

        img{
          max-height: 450px;
        }
      }
    }
  }


}