@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital@1&display=swap');

$firstColor: #0a0a0a;
$secondColor: #1b1b1b;
$thirdColor: #c2c2c2;
$foreColor: #f5f5f5;
$highlightColor: #ce3126;


@mixin easeOut {
  transition: all 500ms ease-out;
}

.flex05{
  flex: 0.5;
}

@font-face {
  font-family: 'Amita';
  src: url('../assets/fonts/Amita-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gugi';
  src: url('../assets/fonts/Gugi-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0) translate3d(0px, 0px, 0px);
  }
  25% {
    opacity: 0.25;
    transform: scale(0.25);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  75% {
    opacity: 0.75;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  25% {
    opacity: 0.75;
    transform: scale(0.75);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  75% {
    opacity: 0.25;
    transform: scale(0.25);
  }
  100% {
    opacity: 0;
    transform: scale(0) translate3d(0px, 0px, 0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  25% {
    opacity: 0.25;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1);
  }
  75% {
    opacity: 0.75;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.progressbar {
  position: relative;
  height: 30px;
  width: 350px;

  .inner {
    background: $highlightColor;
    height: 100%;
    transition: width 0.2s ease-in;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  font-size: 0.6em;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
